$lineHeightBase: 1;

$fontWeightBase: 400;

$fontFamilyRoboto: 'Roboto', serif;

$fontSizeBase: 16px;
$fontSizeSm: 12px;

// Color background
$backgroundColorDark: #000;
$backgroundChart: #101014;

// Color text
$colorTextWhite: #ffffff;
$colorTextSecondary: #adb1b8;
$colorTextOrange: #f7a600;

// Any color
$colorSecondary: #333537;
