$lineHeightBase: 1;
$fontWeightBase: 400;
$fontFamilyRoboto: 'Roboto', serif;
$fontSizeBase: 16px;

$backgroundColorDark: #000;
$backgroundChart: #101014;

$colorTextWhite: #ffffff;
$colorTextSecondary: #adb1b8;
$colorTextOrange: #f7a600;

$fontSizeSm: 12px;
