@use 'reset.scss';

:root {
  line-height: $lineHeightBase;
  font-family: $fontFamilyRoboto;
  font-optical-sizing: auto;
  font-weight: $fontWeightBase;
  font-size: $fontSizeBase;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

html {
  min-height: 100%;
  background-color: $backgroundColorDark;
}

#legend {
  color: $colorValue;
}
