.container {
  width: 100%;
  height: 100vh;
}

.chartHeader {
  width: 70%;
  background-color: $backgroundChart;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chartContainer {
  position: relative;
  width: 70%;
  height: 50%;
}

.timeFrameButton {
  color: $colorTextSecondary;
  font-size: $fontSizeSm;
  padding: 8px;

  &:hover {
    color: $colorTextOrange;
  }
}

.selectedFrame {
  color: $colorTextWhite;
}

.loader {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hr {
  background-color: $colorTextSecondary;
  opacity: 0.3;
  width: 1px;
  height: 15px;
}

.menu {
  padding: 4px;
  background-color: $colorSecondary;
  border-radius: 6px;
  width: 100px;
  height: auto;
}

.menu.open {
  display: block;
}

.menuItem {
  cursor: pointer;
  &:hover {
    color: $colorTextOrange;
  }
}

.menuItem.selected {
  color: $colorTextOrange;
}

.legend {
  padding-left: 8px;
  top: 15px;
}
